.headC{
    display: flex;
    padding-left: 10%;
}
.headC>h2{
    color: grey;
    font-size: 24px;
}
.logImg{
    height: 35px;

}
.logo1{
    display: flex;
    padding-left: 30px;

}
.logo1>p{
    color: grey;
    padding-left: 10px;
    

}
.logo1>img{
    
    padding-top: 8px;
    

}
.logoTopic{
    
    margin-top:10px;
}
#topGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,480px);
    gap:20px;
    width: 70%;
    margin: auto;
    padding-right: 145px;
}
#topGrid > div{
    
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#topGrid > div > img{
    height: 250px;
    /* border-radius: 2%; */
}
#topGrid > div > h4{
    margin-left: 10px;
    
    
}
#topGrid > div > p{
    margin-left: 10px;
    color: grey;
}  

#gridContainerBox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,480px);
    gap:20px;
    width: 70%;
    margin: auto;
    padding-right: 145px;
    
    
    
}
#gridContainerBox > div{
    
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#gridContainerBox > div > img{
    height: 250px;
    /* border-radius: 2%; */
}
#gridContainerBox > div > h4{
    margin-left: 10px;
    
    
}
#gridContainerBox > div > p{
    margin-left: 10px;
    color: grey;
}    
    
#boxImage{
    height: 110px;
    width: 50%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FBDC93;
    margin-top: 4%;
    margin-bottom: 4%;
}
#boxImageTop{
    display: flex;
    justify-content: space-between;
    
    padding: 2%;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
#boxImageDown{
    text-align: left;
    font-size: 15px;
    color: #313131;
    padding-left:2%;
    
}
.btnJoin{
    height: 40px;
    
    
    cursor: pointer;
    color: white;
    background-color: red;
    border-radius: 5%;
    font-size: 13px;
    font-weight: 400;
    border: none;

}
    
    


.netWt{
    
    margin-top:-20px;
    display: flex;
    justify-content:space-between;
    
    padding-left:3%;
    padding-right:3%;
}
.cartBtnWithPrice{
    
    display: flex;
    justify-content: space-between;
    margin-top:-20px;
}
.cartBtnWithPrice>h4{
    margin-left: 10px;
    color: red;
}
.btn{
    height: 30px;
    padding: 2%;
    margin: 4%;
    cursor: pointer;
    color: white;
    background-color: red;
    border-radius: 5%;
    font-size: 11px;
    font-weight: 600;
    border: none;
}
.delLogo{
    display: flex;
    justify-content: center;
    margin-top: -12px;
    
}
.delLogo>p{
    color: grey;
    padding-left: 2%;
    
}
 #check
 {
    padding: 50px;
    
 }
 /*  cart item div */

 #added-items{
     height: 100vh;
     width: 30vw;
     background-color: white;
     position: absolute;
     right: 0%;
     z-index: 10;
     display: none;
     padding: 2%;
     box-sizing: border-box;
     
 }
 #added-items > h3 {
     background-color: darkgreen;
     color:white;
 }
.item{
   border: 1px solid black;
   padding:10px;
}

.addedCartImg{
height: 10%;
width: 10%;
}