
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
    <img  id="logo" src="https://www.licious.in/img/default/licious-logo.svg" alt="">
   <div id="bigbox"> 
       
    <div id="mainbox">
        
       <div class="login">
                <div class="whitebox">
                    <p>Sign In/Sign Up</p>
                      <input id="entermobileno"  placeholder="Enter Mobile Number" />
                      <hr >

                      <input id="proceed" onclick="OTP()" type="submit" value="Proceed Via OTP"/>

                      <input id="enterotp"  placeholder="Enter OTP" />
                      <hr>
                      <input id="proceed" onclick="login()" type="submit" value="Login"/>
                      
                           <div id="signterm" >
                                 <p id="sign"> By signing in you agree to our </p>
                                 <p id="terms"> &nbspterms and conditions</p>
                           </div>
                </div>
        </div>
    </div> 
</div>     
</body>
<script src="login.js">



</script>

 
</html>