<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            text-align: center;
            background-color: #f39c6f;
        }
        .container
        {
            margin: auto;
            width: 60%;
            height: 1000px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="../index.html">
            <img src="https://cdn.dribbble.com/users/2139038/screenshots/4434155/media/7196d846e2118871d278d8da71800600.gif" alt="">
        </a>
    </div>
</body>
</html>